body
{
	background-color: white;
	height: 3000px;
}

.page-container
{
	margin-left: 1%;
	margin-right: 1%;
}
.middle
{

	text-align:center;	
	color: white;
	position: relative;
	bottom: 400px;
}

.middle p
{
	font-size: 35px;
}

hr
{	
	width: 40%;
	position: absolute;
	left: 30%;
	top: 40%;
}
@media screen and (max-width: 600px)
{
	.middle
	{
		position: absolute;
		top: 20%;
		left: 0;
		transition: translate(-20%,0%);
	}
}

