* {
    box-sizing: border-box;
}

body
{
	height: auto;	
  	background-color: black;
}

.page-container
{
	margin-left: 1%;
	margin-right: 1%;
}

.topnav
{
	overflow: hidden;
	background-color: black;
	padding: 13px;
	position: sticky;
	top: 0;
	width: 100%;
	transition: top 0.3s;
	margin: -8px;	
}

.topnav a
{
	font-family: 'Libre Baskerville', serif;
	float: left;
	display: block;
	color: grey;
	text-align: center;
	padding: 13px;
	text-decoration:none;
	font-size: 16px;
	margin-bottom: 2px;
}

.topnav img
{
	width: 75px;
	float: left;	
}
.topnav a:hover
{
	text-decoration-line: underline;
	color: white;
}

.topnav .food-dropdown
{
	float: left;
	overflow: hidden;
}

.food-dropdown .foodbtn
{
	font-size: 17px;
	border: none;
	outline: none;
	color: grey;
	padding: 13px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.food-dropdown .foodbtn:hover
{
	color: white;
}

.food-content
{
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 10px;
	z-index: 1;
}

.food-content a
{
	margin: -1px;
	float: none;
	color: black;
	color: white;	
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.food-content a:hover
{
	background-color: grey;
}

.food-dropdown:hover .food-content
{
	display: block;
	position: fixed;
}

.food-dropdown .foodbtn i
{
	position: relative;
	color: white;
	-webkit-animation:todown 1s infinite;
	animation: todown 1s infinite;
}

#active
{
	color: white;
}

.topnav .icon
{
	display: none;
}



.topnav a.closeFirst
{
	display: none;
}


.image-container
{	
	margin-top: 100px;
	text-align: left;
	color: white;
}

.image-content
{
	margin-top: 150px;
	margin-left: 20px;
}

.image-content h1
{
	font-family: 'Headland One', serif;
	margin-left: 30px;	
}

.image-content a
{
	text-decoration: none;		
}

.image-content button
{
	margin-left: 30px;
	padding: 12px;
	background: rgba(0,0,0,0.8);
	border-color: black;
	color: white;
}

.image-content button:hover
{
	background: rgba(0,0,0,0.5);
}

.image-container .image-content
{
	position: absolute;
	top: 5%;
	left: 1%;
	background: rgba(0,0,0,0.5);
	color: white;
	width: 35%;		
	font-size: 20px;
	padding: 17px;
	font-family: 'Headland One', serif;
}

.permission
{
	background-color: white;
	width: 100%;
	height: 600px;
	text-align: center;
	margin-bottom: 0.5%;	
}

.permission h2
{
	position: relative;
	top: 250px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}

.column
{
	float: left;	
	width: 50%;	
	height:500px;
	background-color: white;
}

.column.left
{	
	text-align: center;
	color: black;
	border-right: solid;
}

.column.left button,.column.right button
{
	background:rgba(0,0,0,1);
	color: white;
	border: none;
	padding: 17px;
}

.column.left button a,.column.right button a
{
	text-decoration: none;
}

.column.left button:hover,.column.right button:hover
{
	background: rgba(0,0,0,0.7);
	color: gold;
	transition: 1s;
}

.column.right
{
	text-align: center;	

}

.ask
{
	text-align: left;
	color: lime;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	margin-top: 10px;	

}


.row:after
{
	content: "";
	clear: both;
	display: table;
}

@-webkit-keyframes todown
{
	from{top: 0px;}
	to{bottom: 5px;}
}

@keyframes todown
{
	from{top: 0px;}
	to{bottom: 5px;}
}

@media screen and (max-width: 600px) {
  
  .column
  {
  	width: 100%;
  }

  .column.left
  {
  	border-right: none;
  	border-bottom: solid;  	
  }

}

@media screen and (max-width: 1085px)
{
	.image-container {
    
    max-width: 100%; /* Maximum width */   
    margin-top: 0;
}
	.image-content
	{
		margin-top: 0;
		margin-left: 0;
	}
	.image-container .image-content {
    position: relative; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    left: 0;
    background: rgba(255, 255, 255, 0.1);    
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    font-size: 15px;
}
    .image-container .image-content h1
    {
    	font-size: 20px;    
    	margin-left: 0;	
    }

    .image-content button
    {
    	margin-left: 0;

    }

    .permission
    {
    	margin-right: 15%;
    	margin-left: 30%;
    }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child){display: none;}
  .topnav .food-dropdown{display: none;}

  /*make sure top nav wont block by other elements*/
  .topnav
  {
  	height: 0%;
  	width: 100%;
  	position: sticky;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0,0.9);
  	transition: 0.5s;  
 
  }

  .topnav a.icon
  {
  	display: block;
  	float: right;
  	color: white;
  }
  
  .topnav a
  {
  	padding: 8px;
  	text-decoration: none;
  	font-size: 17px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
  	text-align: left;
  }
  
  
}

@media screen and (max-width: 600px)
{
	.topnav.responsive a,.topnav.responsive img {
    float: none;
    display: block;
  }
}